@{
  Layout = "_Layout";
}

@model SillyStringFactory.Models.Machine

<h1>Add a new machine</h1>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add" class="btn btn-default" />
}
<!-- <p>@Html.ActionLink("Show all stages", "Index")</p> -->