<div class="header">

<p>@Html.ActionLink("Return Home", "Index", "Home") | @Html.ActionLink("List of Engineers", "Index", "Engineers") | @Html.ActionLink("List of Machines", "Index", "Machines")</p>


</div>